.container {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.text-name {
  flex: 1;
  margin: auto;
  font-size: larger
}

.text-input {
  flex: 1;
  margin-right: 65%;
  --mdc-filled-text-field-container-color: #77707033;
  margin-top: 10px;
}

.horizontal_line {
  border-bottom: 2px solid #6b6464;
}

.flex-form-field {
  width: 150%;
}

.flex-container-horizontal {
  display: flex;
  justify-content: space-between;
  width: 31%;
  margin-top: 20px;
}
h1 {
  margin-bottom: 0;
}

.flex-form-field-serving {
  width: 120px;
  --mdc-filled-text-field-container-color: #77707033;
}
