<div class="container">
  <div class="content">
    <mat-toolbar style="background-color: #394dbb; --mat-toolbar-standard-height: 30px;">
      <mat-toolbar-row>
        <button mat-button style="color: #fafafa" >Food dairy</button>
        <button mat-button style="color: #fafafa" >My foods</button>
        <button mat-button style="color: #fafafa" >My meals</button>
        <button mat-button style="color: #fafafa" >Database</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
