<div class="container">
  <div class="content">
    <mat-toolbar style="background-color: #394dbb; --mat-toolbar-standard-height: 30px;">
      <mat-toolbar-row>
        <button mat-button [ngClass]="{'current': selectedButton === 'food_dairy'}" (click)="selectButton('food_dairy')"  routerLink="/food/food_dairy" routerLinkActive="active" >Food dairy</button>
        <button mat-button [ngClass]="{'current': selectedButton === 'my_foods'}" (click)="selectButton('my_foods')"  routerLink="/food/my_foods" routerLinkActive="active" >My foods</button>
        <button mat-button style="color: #b9b6b6" >My meals</button>
        <button mat-button style="color: #b9b6b6" >Database</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
