.container {
  width: 60%;
  margin: 0 auto;
}

.content {
  text-align: center;
}
.mat-toolbar-row {
  height: 50px;
}

.mat-toolbar-row button {
  color: #b9b6b6;
  padding: 20px;
}
.mat-toolbar-row button.current {
  color: #ffffff;
  font-weight: bold;
}
