<!--
<div class="container">
  <label><b>User Email</b></label>
  <input type="text" id="uMail" placeholder="Enter Email" name="umail" required>
  <p><label><b>Password</b></label>
    <input type="password" id="psw" placeholder="Enter Password" name="psw" required>
    <button class="login-button" (click)="onLoginClick()"  style="margin-left: 90px">Login</button>
  <p *ngIf="displayError">{{displayError}}</p>
</div>

<div *ngIf="usersCredentials">
  <h2>Your credentials: </h2>
  <p>Name: {{usersCredentials?.userName}}</p>
  <p>Gender: {{usersCredentials?.gender}}</p>
  <p>Birth Date: {{usersCredentials?.birthDate}}</p>
  <p>Activity: {{usersCredentials?.activity}}</p>
  <p>Height: {{usersCredentials?.height.value}}  {{usersCredentials.height.unit}}</p>
</div>
-->
