
<div class="container">
  <div class="content">
    <h1>Daily nutritional goals</h1>
  </div>

  <p></p>
  <div *ngIf="userGoals">
    <app-table-goals [userGoals]="userGoals"></app-table-goals>

    <button mat-raised-button color="primary" *ngIf="showAddInformationButton" style="margin-left: 40%; margin-top: 10px"
            (click)="openAddInformationForm()">
      Edit
    </button>
    <p></p>
    Weight : {{userGoals?.currentWeight.value}} kg.

    <p></p>
    Activity : {{userGoals?.activity}}

  </div>

  <div *ngIf="!addInfo && !userGoals" style="font-style: italic; text-align: center">
    You didn't add any goals
  </div>
  <p></p>
  <section *ngIf="!userGoals">
    <div class="button">
      <button mat-raised-button color="primary" *ngIf="showAddInformationButton"
              (click)="openAddInformationForm()">
        Add your goals
      </button>
    </div>
    <app-goals-add-info *ngIf="addInfo" (onSave)="saveInfo($event)" (onCancel)="cancelInfo()"></app-goals-add-info>
  </section>
</div>
