.details-container {
  width: 350px;
  height: 400px;
  border: 2px solid black;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 50px;
}
.no-food-selected-message {
  margin-top: 50%;
  font-size: large;
  text-align: center;
  font-style: italic;
}
section {
  border-bottom : 1px solid rgb(21, 20, 20);
}
.food-facts-details-first-section {
  display: flex;
  justify-content: space-between;
}

.food-facts-details-middle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
