<div class="details-container">
  <div class="no-food-selected-message" *ngIf="!foodDetails">
    <p>
      Select one of matching foods</p>
    <p>to see details
    </p>
  </div>
  <div *ngIf="foodDetails">
    <section>
      <div class="food-facts-details-first-section">
        <div>
          <p><b>Nutrition Facts:</b></p>
          <p>{{foodDetails?.name}}</p>
          <p>{{foodDetails?.description}}</p>
        </div>
        <div>
          <button mat-raised-button color="primary">Add to food dairy</button>
          <div style="display: flex; justify-content: space-around">
            <button mat-raised-button style="margin-top: 20px" color="primary">Edit</button>
            <button mat-raised-button style="margin-top: 20px" color="warn">Delete</button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="food-facts-details-middle-section">
        <p>Servings: </p>
        <form [formGroup]="servingSizeForm">
          <mat-form-field style=" margin-top: 10px; width: 100px;" appearance="outline">
            <input matInput type="number" formControlName="value" placeholder="1">
          </mat-form-field>
        </form>
        <p>{{foodDetails?.responseFoodFactDTO.value}} &nbsp; {{foodDetails?.responseFoodFactDTO.unit}}</p>
      </div>
    </section>
    <section>
      <div class="food-facts-details-last-section">
        <p style="font-size: large">Calorie: </p>
        <p style="font-size: large">{{foodDetails?.responseFoodFactDTO.calories}}</p>
      </div>
    </section>
  </div>
</div>
