<table>
  <tr>
    <td class="text-left"><h1> Calories </h1></td>
    <td colspan="2"><h1>{{userGoals?.goal.value}} kcal</h1></td>
  </tr>
  <tr>
    <td class="text-left"> Carbohydrates </td>
    <td class="nutrition">{{nutrition.carbs}}%</td>
    <td>{{userGoals?.nutrition.carbohydrate}}g</td>
  </tr>
  <tr>
    <td class="text-left">Proteins</td>
    <td class="nutrition">{{nutrition.protein}}%</td>
    <td>{{userGoals?.nutrition.protein}}g</td>
  </tr>
  <tr>
    <td class="text-left">Fat </td>
    <td class="nutrition">{{nutrition.fat}}%</td>
    <td>{{userGoals?.nutrition.fat}}g</td>
  </tr>
</table>
