
.container {
  width: 60%;
  margin: 0 auto;
}

.content {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.button {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
img {
  max-width: 271px;
  max-height: 274px;
}
