html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}
::-webkit-scrollbar {
  width: 0;  /* dla przeglądarek opartych na WebKit (Chrome/Safari) */
}
* {
  scrollbar-width: none;
}
