<h2 style="margin-top: 2%">Search your personal foods by name: </h2>
  <div class="tool-bar">
    <mat-toolbar>
      <mat-icon>search</mat-icon>
      <input class="search-bar" type="text" placeholder="Search..." [(ngModel)]="food">
    </mat-toolbar>
  </div>
  <div class="container">
    <p>Matching foods</p>
  </div>
  <div>
    <ul>
      <li *ngFor="let food of userFoodList">
        <button type="button">
          <span>{{food.id}}</span>
          <span>{{food.name}}</span>
        </button>
      </li>
    </ul>
  </div>
